@charset "utf-8";
@import url("font.css");

/* header */
header  {height: 70px; width: 100%;}
header .logo {float: left; width: 30%; margin: 1.125em 0 0 -0.063em; }
header .logo a {display: block; width: 15.000em; height: 1.875em; margin-top: -20px;}
header .logo a img {width: 248px; height: 35px;}
header .inner .util {width: 27%; line-height: 4; }
header .inner .util span {font-size: 0.750em;}


/* 모바일 gnb 숨김 */
header .inner .gnb {display: none;}

/* 모바일 메뉴 */
.moinner {position: absolute; top: 0; left: 0; width: 100%;}
.moinner figure {width: 40%; margin: 18px 0 0 -130px; display: inline-block;}
.moinner figure img {width: 100%; height: 35px;}
.moinner .util {margin-right: 2.375em;}
.mobile {display: block; height: 100%;}
.mobileButton {z-index: 6; position: absolute; transition: .3s ease-in-out; width: 25px; height: 15px; display: block; top: 25px; right: 0px;}
.mobileButton > span {position: absolute; display: flex; height: 2px; border-radius: 4px; width: 100%; background-color: #fff; top: 0; transition: transform .2s ease-in-out, opacity .2s ease-in-out; }

header.navbar.on .mobileButton span { background-color: #111;}

.mobileButton > span:nth-child(1) {top: 0px;}
.mobileButton > span:nth-child(2), .mobileButton > span:nth-child(3) {top: 8px;}
.mobileButton > span:nth-child(4) {top: 16px;}
.mobileButton.active > span:nth-child(1), .mobileButton.active > span:nth-child(4) {opacity: 0;}
.mobileButton.active > span:nth-child(2) {transform: rotate(45deg);}
.mobileButton.active > span:nth-child(3) {transform: rotate(-45deg);}

.mobileButton > ul > li{list-style: none; padding: 0; margin: 0; opacity: 0;padding: 20px; font-size: 1.5rem;}

.mobileButton > a{color: rgb(255, 255, 255); text-decoration: none; transition: opacity 0.2s ease;}

.mobileButton > a:hover{color: white;}

.mobileMenu{position: fixed; top: 0; right: 0; left: 0; background: url(../img/bg_banner.jpg)no-repeat center/cover; display: flex; align-items: center; justify-content: center; text-align: center; width: 100%; height: 100vh; opacity: 0; visibility: hidden; transition: 0.3s;}

.mobileMenu .moMenu ul > li {color: #fff; font-size: 25px; line-height: 2.5;}
.mobileMenu .moMenu ul > li:hover {box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; border-radius: 15px;}
.mobileMenu.visible {height: 100%; opacity: 1; visibility: visible;}

@keyframes fadeInLeft{
    0% { opacity: 0; transform: translateX(0);}
    100% { opacity: 1; transform: translateX(0);}
}

.mobileMenu.visible li{animation: fadeInLeft 0.3s ease forwards; }
.mobileMenu.visible li:nth-child(1){animatio-delay: 0.23s;}
.mobileMenu.visible li:nth-child(2){animatio-delay: 0.26s;}
.mobileMenu.visible li:nth-child(3){animatio-delay: 0.29s;}
.mobileMenu.visible li:nth-child(4){animatio-delay: 0.32s;}
.mobileMenu.visible li:nth-child(5){animatio-delay: 0.35s;}

/* .mainTop */
.mainTop {width: 100%; height: 330px; border-radius: 0 0 60px 0; margin-bottom: 80px;} 
.mainText {bottom: 28%;}
.mainText h2 {font-size: 26px;}
.mainText .maText {font-size: 14px;}

/* inner */
.inner {width: 580px; }
.inner .Banner {width: 100%; height: 60px; top: -100px; border-radius: 45px 0 45px 0;}
.inner .Banner ul {margin-left: 20px;}
.inner .Banner ul li {width: 100px; height: 60px}
.inner .Banner ul li a {height: 100%; font-size: 14px; line-height: 4;}
.inner .Banner figure {float: right; width: 210px; height: 120px;  margin: -120px 0 0;}
/* -------------------------------------------------- */
/* .tab_group */
.tab_group {padding: 0;} 

/* .tab_group > .tab */
.tab {padding: 33px 0 50px;}
.tab ul li button {font-size: 16px;}
.tab ul li.on {z-index: 2; height: 59px; border-color: #09847F; border-bottom: 1px solid #fff;}
.tab ul li.on button {background: #fff; color: #09847F;}

/* --------------------- */
/* .tab_group > .tab_content */
.tab_group .tab_content:nth-child(2) h2 {font-size: 28px;}

/* .tab_content .Viewing  */
.tab_group .tab_content .Viewing {width: 100%; height: 1100px; margin-bottom: 230px;  }
.tab_group .tab_content .Viewing figure {float: none; width: 100%; height: 600px;}

.tab_content .Viewing .ViewingText {float: none; width: 100%; height: 600px; margin-bottom: 30px;}
.tab_content .Viewing .ViewingText strong {font-weight: 700; color: rgba(0,0,0,0.8);}

.tab_content .Viewing .ViewingText dl { padding: 50px; color: rgba(0,0,0,0.6); background: #f7f7f7f7; border-radius: 0 0 90px;}
.tab_content .Viewing .ViewingText dt {font-size: 22px;}
.tab_content .Viewing .ViewingText dd {font-size: 14px;}
.tab_content .Viewing .ViewingText dd span {color: #099789; }

.tab_content .Viewing .ViewingText .Location dt {font-size: 16px; }

.tab_content .published {height: 200px; font-size: 15px; margin-top: 40px;}
/* -------------------------------------------------- */
/* ground */
.tab_content .ground > h2 {font-size: 28px;}
.tab_content .ground .groundText {font-size: 13px;}

/* ground table */
.tab_content table {width: 100%;}
.tab_content table tr td {font-size: 14px; padding: 10px 0;}

/* Topographi */
.Topographi .TopographiText li {width: calc(100%/2 - 10px); height: 220px; margin-right: 10px; padding: 30px 20px;}
.Topographi .TopographiText li a .BigText {font-size: 15px;}

/* .TopographiImg */
.tab_content .TopographiImg figure {width: 580px; height: 600px; background: url(../img/bg-map1.png) no-repeat center/cover;}
.tab_content .TopographiImg .TopoImgTxt {display: none;}

.tab_content .TopographiImg > p {font-size: 15px; margin: -20px 0 80px 0;}

/* -------------------------------------------------- */
/* .tab_content .Create */
.tab_content .Create {margin-bottom: 100px;}
.tab_content .Create > h2 {font-size: 28px; margin-bottom: 30px;}
.tab_content .Create .CreateText p {font-size: 14px;}

.tab_content .Create figure {width: 100%; height: 340px; border-radius: 0 0 0 60px;}
.tab_content .Create .figurebottonTxt {font-size: 14px; margin-top: 30px;}
.tab_content .Create p {margin-top: 30px; font-size: 15px;}
/* -------------------------------------------------- */
/* footer  */
footer .fooBg .bg_banner {border-radius: 70px 0 0 0;}

/* footer 글씨 효과 */
footer .fooBg .foonTop .foonani  {width: 350px;}
footer .fooBg .foonTop .foonani .aniText1 {font-size: 25px;}
footer .fooBg .foonTop .foonani .aniText  {width: 325px;}
footer .fooBg .foonTop .foonani .aniText::before {font-size: 25px;/*  width: 100%; height: 100%; */ }

/* .footbotom */
footer .footbotom {height: 200px;}
footer .footbotom .footerArea {width: 580px;}
.fooText .fooTopText , .fooText .foomidText {font-size: 10px; line-height: 1.7;}
.fooText .foocopy {font-size: 13px;}


/* foomidImg 모바일 */
.footbotom .foomidImg .reservation, .footbotom .foomidImg .map {display: none;}


